include ../layouts/layout

block content
  header
    h1 CRUZY

  main#single-player-container
    .intro-text
      h2 Bem-vindo ao Modo Single-Player!
      p Comece um novo jogo e desafie suas habilidades em palavras cruzadas.

    form(action="/single/new" method="GET" class="validated-form" novalidate)
      button.btn(type="submit") Criar Novo Jogo
