include ../layouts/layout

block content
  header
    img(src="/stylesheets/images/logo.png" alt="Logo do Cruzy")

  main#single-player-container
    .intro-text
      h2 Create New Game
      p Escolha um tema para o seu jogo de palavras cruzadas.
      p Tema padrão: quimica

    form(action="/single" method="POST" class="validated-form new-room-form" novalidate)
      label(for="theme") Theme:
      input(type="text" name="theme" id="theme" required)
      label(for="owner") Owner:
      input(type="text" name="owner" id="owner" required)      
      label(for="language") Language:
      input(type="text" name="language" id="language" required)      
      button(type="submit") Create

    p Temas predefinidos: biologia, quimica, fisica, citologia, matematica