include ../layouts/layout
block content
    h1 Create new game 
    form(action="/single" method="POST" class="validated-form new-room-form" novalidate)
        label(for="theme") Theme:
        input(type="text" name="theme" id="theme" disabled value="Tema personalizado indisponível")
        button(disabled) Create
    section
        p 
            each theme in available_themes
                button(id='themeButton', value=theme)= theme
            
    section
    script(src="/js/themeChooser.js") 
    n