div#nav-container
  ul.nav
    li.nav-item
      a.nav-link(href="/" class="disabled") 
    li.nav-item
      a.nav-link(href="/") Home
    li.nav-item
      a.nav-link(href="/single/new") Create New Room
