div#nav-container
  ul.nav
    li.nav-item
      a.nav-link(href="/") Home
    li.nav-item
    if currentUser
      a.nav-link(href="/rooms/new") Create New Room
      a.nav-link(href="/logout") Logout
    else 
      a.nav-link(href="/login") Login
      a.nav-link(href="/register") Register
      //- p currentUser não está funcionando mostrar o usuário logado
    
    

