include ../layouts/layout
  
  main#single-player-container
    .intro-text
      h2 Your Rooms

    ul
    .room-list
      each room in rooms
          li 
            .room
              .card-header
                span.card-tag SOLO
              p.room-name= `${room.name}`
              span.room-theme= `Theme: ${room.theme}`
              form(action=`/play/${room._id}`, method="GET")
                button.btn Join
              form(action=`/rooms/${room._id}?_method=DELETE`, method="POST")
                button.btn.btn-danger Delete
      unless rooms.length
        p No rooms to show!
