include ../layouts/layout
  
  main#single-player-container
    .intro-text
      h2 Suas Salas

    ul
      each room in rooms
        if room.owner == currentUser.username
          li 
              p= `Nome: ${room.name}`
              span= `Tema: ${room.theme}`
              form(action=`/play/${room._id}`, method="GET")
                button.btn Entrar
              form(action=`/rooms/${room._id}?_method=DELETE`, method="POST")
                button.btn.btn-danger Delete
      unless rooms.length
        p Não há salas a mostrar
