extends layouts/layout
block content
  h1 Cruzy
  p(id="theme")= theme
  p Game Board:
  div#game-container
  script(src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js")
  script(src='/js/script.js')
