include layouts/layout
block content
  div#game-container
  script.
      const data = !{JSON.stringify(data)}; //pass data to theme.js
  script(src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js")
  script(src='/js/theme.js')
  script(src="/js/createCrossword.js") 
  script(src="/js/displayGame.js") 
  script(src='/js/Game.js')
