include ../layouts/layout
block content
  .container.d-flex.justify-content-center.align-items-center.mt-5
    .row
      .col-md-6.offset-md-3.col-xl-4.offset-xl-4
        .room
          img.card-img-top(src="/stylesheets/images/logo.png", alt="")
          .card-body
            h5.card-title Register
            form.validated-form(action="/register" method="POST" novalidate)
              .mb-3
                label.form-label(for="username") Username
                input.form-control(type="text" id="username" name="username" required autofocus)
                .valid-feedback Looks good!
              .mb-3
                label.form-label(for="password") Password
                input.form-control(type="password" id="password" name="password" required)
                .invalid-feedback#passwordFeedback
                  | Password must contain at least:
                  ul
                    li 8 characters
                    li 1 uppercase letter
                    li 1 lowercase letter
                    li 1 number
                    li 1 special character
              .mb-3
                label.form-label(for="confirmPassword") Confirm Password
                input.form-control(type="password" id="confirmPassword" name="confirmPassword" required)
                .invalid-feedback Passwords do not match.
                .valid-feedback Passwords match!
              .button-container
                button.btn(type="submit" id="submitButton" disabled) Register

script(src="/js/confirmPassword.js")
script(src="/js/passwordValidation.js")